<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,307},{1136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,160}}</string>
                <key>sourceSize</key>
                <string>{1136,160}</string>
            </dict>
            <key>bush_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{1136,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,160}}</string>
                <key>sourceSize</key>
                <string>{1136,160}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,681},{1136,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,171}}</string>
                <key>sourceSize</key>
                <string>{1136,171}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{1136,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,171}}</string>
                <key>sourceSize</key>
                <string>{1136,171}</string>
            </dict>
            <key>fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1268},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1222},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,971},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{62,88}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,893},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{76,88}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,823},{62,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{62,88}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1204},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1140},{80,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1140},{62,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,94}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,2},{1136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,180}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>forest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,307},{1136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,180}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1189},{1136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,139}}</string>
                <key>sourceSize</key>
                <string>{1136,139}</string>
            </dict>
            <key>grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{1136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,139}}</string>
                <key>sourceSize</key>
                <string>{1136,139}</string>
            </dict>
            <key>hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,317},{1136,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,175}}</string>
                <key>sourceSize</key>
                <string>{1136,175}</string>
            </dict>
            <key>hill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1136,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,175}}</string>
                <key>sourceSize</key>
                <string>{1136,175}</string>
            </dict>
            <key>image 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,2},{233,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,31}}</string>
                <key>sourceSize</key>
                <string>{233,31}</string>
            </dict>
            <key>jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,457},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,90}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1408},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1362},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,381},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1332},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1332},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1332},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,317},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>roll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,317},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1163},{74,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1099},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1035},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{80,62}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,387},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,641},{64,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{64,88}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1286},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1476},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,317},{68,70}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1163},{74,58}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{74,58}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1099},{62,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1035},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{80,62}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,387},{68,70}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,641},{64,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{64,88}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,703},{62,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{62,90}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1430},{62,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>terrace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,913},{940,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{940,75}}</string>
                <key>sourceSize</key>
                <string>{940,77}</string>
            </dict>
            <key>terrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,249}}</string>
                <key>sourceSize</key>
                <string>{1136,249}</string>
            </dict>
            <key>terrain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1136,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,249}}</string>
                <key>sourceSize</key>
                <string>{1136,249}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{303,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,342}}</string>
                <key>sourceSize</key>
                <string>{303,342}</string>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,637},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,573},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,767},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,509},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,549},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,831},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,731},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,445},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_images.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf16b3a395f5611f45efe4e5fa14520$</string>
            <key>textureFileName</key>
            <string>game_scene_images.png</string>
        </dict>
    </dict>
</plist>
