<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bush.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,477},{1136,146}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{1136,146}}</string>
                <key>sourceSize</key>
                <string>{1136,160}</string>
            </dict>
            <key>bush_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{1136,146}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{1136,146}}</string>
                <key>sourceSize</key>
                <string>{1136,160}</string>
            </dict>
            <key>entity_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,535},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{40,52}</string>
            </dict>
            <key>entity_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,423},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{1136,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,171}}</string>
                <key>sourceSize</key>
                <string>{1136,171}</string>
            </dict>
            <key>flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1213},{1136,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,171}}</string>
                <key>sourceSize</key>
                <string>{1136,171}</string>
            </dict>
            <key>fly_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,756},{78,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,376},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,300},{100,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,90}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,392},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1028},{78,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{78,88}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,282},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,188},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>fly_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,94},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,461},{1136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,180}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>forest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{1136,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,180}}</string>
                <key>sourceSize</key>
                <string>{1136,180}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{1136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,139}}</string>
                <key>sourceSize</key>
                <string>{1136,139}</string>
            </dict>
            <key>grass_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,461},{1136,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,139}}</string>
                <key>sourceSize</key>
                <string>{1136,139}</string>
            </dict>
            <key>hill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{1136,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,175}}</string>
                <key>sourceSize</key>
                <string>{1136,175}</string>
            </dict>
            <key>hill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{1136,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,175}}</string>
                <key>sourceSize</key>
                <string>{1136,175}</string>
            </dict>
            <key>image 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,300},{233,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,31}}</string>
                <key>sourceSize</key>
                <string>{233,31}</string>
            </dict>
            <key>jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,955},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{66,90}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,823},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,807},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,939},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,774},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,774},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,774},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>jump_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,914},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>roll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1108},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1108},{74,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{74,58}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1085},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1067},{80,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{80,62}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1108},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1042},{64,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{64,88}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,731},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>roll_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,900},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,684},{95,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,664},{95,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,641},{95,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{95,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,482},{97,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,2},{97,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,731},{93,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{93,90}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,641},{97,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,574},{97,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
            <key>scroll_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1108},{68,70}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,22},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1108},{74,58}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,33},{74,58}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,1085},{62,80}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{62,80}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1067},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{80,62}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1108},{68,70}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{68,70}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1042},{64,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{64,88}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,1003},{62,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{62,90}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>scroll_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,891},{62,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{82,92}</string>
            </dict>
            <key>terrace1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,79},{480,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,75}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>terrace_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,156},{142,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,120}}</string>
                <key>sourceSize</key>
                <string>{142,120}</string>
            </dict>
            <key>terrace_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,500},{196,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,139}}</string>
                <key>sourceSize</key>
                <string>{196,139}</string>
            </dict>
            <key>terrace_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,423},{263,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,75}}</string>
                <key>sourceSize</key>
                <string>{263,75}</string>
            </dict>
            <key>terrace_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,79},{480,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,75}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>terrace_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{805,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{805,75}}</string>
                <key>sourceSize</key>
                <string>{805,75}</string>
            </dict>
            <key>terrain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,249}}</string>
                <key>sourceSize</key>
                <string>{1136,249}</string>
            </dict>
            <key>terrain_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{1136,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,249}}</string>
                <key>sourceSize</key>
                <string>{1136,249}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,156},{303,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,342}}</string>
                <key>sourceSize</key>
                <string>{303,342}</string>
            </dict>
            <key>tree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,79},{313,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,342}}</string>
                <key>sourceSize</key>
                <string>{313,342}</string>
            </dict>
            <key>walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,592},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,875},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,978},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,850},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,500},{64,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{64,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,1023},{60,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{60,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,964},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{62,90}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
            <key>walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,836},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{70,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_images.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:955dced870c44037d7fbf12d563e1cb2$</string>
            <key>textureFileName</key>
            <string>game_scene_images.png</string>
        </dict>
    </dict>
</plist>
